
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 ALIGN="CENTER" ><u>PRODUCT DETAILS</u></h1>


	<table border="4" class="table table-bordered" align="center" >
    <tr>
        <th  style="color:chocolate;">CUSTOMER ID</th>
		<th  style="color:chocolate;">PRODUCT NAME</th>
		<th  style="color:chocolate;">PRICE</th>
        <th  style="color:chocolate;">REGISTER DATE</th>
		<th  style="color:chocolate;">STATUS</th>
        <th  style="color:chocolate;">OPTION1</th>
        <th  style="color:chocolate;">OPTION2</th>
        <th  style="color:chocolate;">DELETE</th>
		</tr>

        {% for ob in Product %}
		<tr  style="color:black;">
            <td>{{ ob.c_id }}</td>
			<td >{{ ob.p_name }}</td>
            <td>{{ ob.price }}</td>
            <td >{{ ob.regdt }}</td>
			<td>{{ ob.status }}</td>
            <td><a href="{% url 'act' idd=ob.p_id %}">Active</a> </td>
            <td><a href="{% url 'inact' idd=ob.p_id %}">Inctive</a> </td>
           <td><a href="{% url 'deletev' idd=ob.p_id %}">Delete</a> </td>
		</tr>

        {% endfor %}
	</table>
</body>
</html>


